<div [ngClass]="{liked: post.textbtn === 'Dislike'}" class="post-card">
   <h2>Nouveau post de {{post.name}} avec l'id {{post.id}}</h2>
   <p>{{post.description}}</p>
   <button (click)="onViewPost()">Voir le post !</button>
</div>