<header>
    <H1>Postshare</H1>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="posts" routerLinkActive="active">Posts</a>
    </nav>
</header>
