 header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 10px;
 }

 a {
   margin: 0 10px;
   color: #333;
   text-decoration: none;
   &:hover {
      text-decoration: none;
   }
 }

 .active {
   color: #666;
   text-decoration: underline;
 }