<div *ngIf="post$ |async as post" [ngClass]="{liked: post.textbtn === 'Dislike'}" class="post-card">
    <p>{{post.name}}</p>
    <img [src] = "post.imageURL ">
    <p>Description : {{post.description}}</p>
    <p> <button (click)="onLike()"> {{post.textbtn}} </button>  <span [ngStyle]="{color: 'rgb(0, ' + post.nblike + ',0)'}"> {{post.nblike}} </span></p>
    <p *ngIf="post.appareil"> Posted via {{post.appareil}}</p>
    <a routerLink="/posts">Back</a>
</div>
